* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face{
    font-family:"LouisGeorgeCafe";
    src:url("fonts/Louis\ George\ Cafe.ttf")
}
@font-face{
    font-family:"AnkeCalligraphicFG";
    src:url("fonts/ankecallig-fg.ttf")
}
@font-face{
    font-family:"GalaScript";
    src:url("fonts/galascript.ttf")
}
@font-face{
    font-family:"TinDoghouse";
    src:url("fonts/TinDog.ttf")
}
body {
    font-family:"LouisGeorgeCafe";
    font-size: 18px;
    background-color: black;
    position: relative;
    a {
        color: #c22;
    }
    .cont-page {
        width: 90%;
        max-width: 1600px;
        background-color: white;
        margin: auto;
        padding-bottom: 64px;
        .cont-content {
            width: 80%;
            max-width: 1000px;
            margin: auto;
            padding: bottom;
            header {
                padding-top: 64px;
                margin-bottom: 32px;
                nav {
                    position: relative;
                    width: 100%;
                    &::before {
                        display: block;
                        content: "";
                        height: 3px;
                        box-shadow: 0px -5px 4px gray;
                    }
                    &::after {
                        margin-bottom: 32px;
                        display: block;
                        content: "";
                        height: 3px;
                        box-shadow: 0px 5px 4px gray;
                    }
                    img {
                        height: 64px;
                    }
                    .links {
                        width: 83%;
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: flex;
                        justify-content: space-between;
                        a {
                            display: flex;
                        }
                    }
                }
                .hero {
                    position: relative;
                    width: 100%;
                    height: 32vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            main {
                h1 {
                    font-size: 3rem;
                }
                h2 {
                    font-size: 2rem;
                    color: gray;
                    margin-top: 1rem;
                }
                p {
                    margin-top: 2rem;
                    font-size: 1rem;
                    color: #333;
                }
                .cloth {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 32px;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    background-color: #ffd;
                    margin-top: 64px;
                    padding: 32px;
                    box-shadow: 3px 3px 10px gray;
                    a {
                        display: inline-block;
                        .plate {
                            background-image: url("pics/dishes-938747_1920transp.png");
                            background-size: cover;
                            width: 100%;
                            position: relative;
                            .plate-y {
                                padding-top: 100%;
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 62%;
                                    height: 62%;
                                    transform: translate(-50%, -50%);
                                    object-fit: cover;
                                    border-radius: 50%;
                                    box-shadow: inset 2px 2px 4px gray;
                                }
                                p {
                                    color: #118;
                                    display: block;
                                    width: 100%;
                                    position: absolute;
                                    bottom: 10%;
                                    transform: translateY(50%);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            footer {
                margin-top: 64px;
                background-color: #eee;
                padding: 16px;
                .f-logo {
                    height: 64px;
                    margin-right: 16px;
                }
                p {
                    margin: 32px 0;
                }
                .buttons {
                    height: 32px;
                    margin-right: 8px;
                }
                #agb-links {
                    a {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    body {
        .cont-page {
            width: 100%;
            .cont-content {
                width: 90%;
                main {
                    .cloth {
                        grid-template-columns: 1fr 1fr;
                    }
                }    
            }
        }
    }
}
@media screen and (max-width: 480px) {
    body {
        .cont-page {
            width: 100%;
            .cont-content {
                width: 100%;
                header {
                    nav {
                        .links {
                            width: 70%;
                            display: inline;
                            text-align: right;
                            a {
                                display: inline-flex;
                            }
                        }
                    }
                }
                main {
                    .cloth {
                        grid-template-columns: 1fr;
                    }
                }    
            }
        }
    }
}
