// Reset Browser Settings //
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*
TO DO:
    TROUBLESHOOT:
        - Investigate: Nesting occassionally lead to <p> or <ul> inheriting style (eg color) from <h2>
        - soft scroll doesn't work (tried in <html> <body> and <a>) (Does it need buttons?, is nesting the problem?)

    SYSTEMIZE:
        - Externalize Resets
        - Externalize Fonts (Make client specific font-groups)
        - Externalize Standard Settings (Per client/priject)
        - Uniform and standardize and externalize color, especially grayscales 
        - Standardize Shadows (Also check for overuse of these.!)
        - Make repo files for standard solutions:
            - pic over pic, like in flowers.html
            - plates: with bg-pic like applied
            - plates: investigate: with pic in div
            - plates: with divs only (ie set heigth relative to width: does it really need an img or text as content?)
            - shadows from pseudo elements: how wide?, z-index?
    NICE TO HAVE:
        - Check for margins etc: substitute px for rem
        - Add responsitivity to flowers.html
        - Center pics in flowers.html
        - Find equilibrium for nesting/!nesting (normal form philosophy)
            - idea: root at least semantic containers
        - Apply general Documentation to all files
*/

// Fonts //
@font-face{
    font-family:"LouisGeorgeCafe";
    src:url("fonts/Louis\ George\ Cafe.ttf")
}
@font-face{
    font-family:"AnkeCalligraphicFG";
    src:url("fonts/ankecallig-fg.ttf")
}
@font-face{
    font-family:"GalaScript";
    src:url("fonts/galascript.ttf")
}
@font-face{
    font-family:"TinDoghouse";
    src:url("fonts/TinDog.ttf")
}

// BODY //
body {
    font-family:"LouisGeorgeCafe";
    font-size: 18px;
    background-color: black;
    position: relative;
    a {
        color: #c22;
    }
    .cont-page {
        width: 90%;
        max-width: 1600px;
        background-color: white;
        margin: auto;
        padding-bottom: 64px;
        .cont-content {
            width: 80%;
            max-width: 1000px;
            margin: auto;
            padding: bottom;

            // HEADER //
            header {
                padding-top: 64px;
                margin-bottom: 32px;

                // NAV //
                nav {
                    position: relative;
                    width: 100%;
                    &::before {
                        display: block;
                        content: "";
                        height: 3px;
                        box-shadow: 0px -3px 3px gray;
                    }
                    &::after {
                        margin-bottom: 32px;
                        display: block;
                        content: "";
                        height: 3px;
                        box-shadow: 0px 3px 3px gray;
                    }
                    img {
                        height: 64px;
                    }
                    .links {
                        width: 83%;
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: flex;
                        justify-content: space-between;
                        a {
                            display: flex;
                        }
                    }
                }
                // -nav //

                // HERO //
                .hero {
                    position: relative;
                    width: 100%;
                    height: 32vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                // -hero //

            }
            // -header //

            // MAIN //
            main {
                h1 {
                    font-size: 3rem;
                }
                h2 {
                    font-size: 2rem;
                    color: gray;
                    margin-top: 1rem;
                }
                p {
                    margin-top: 2rem;
                    font-size: 1rem;
                    color: #333;
                }
                ul {
                    margin: 1rem 0 3rem;
                    color: #666;
                    li {
                        font-size: 1rem;
                        list-style: disc;
                        list-style-position: inside ;
                    }
                }
                .cloth {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 32px;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    background-color: #ffd;
                    margin-top: 64px;
                    padding: 32px;
                    box-shadow: 3px 3px 10px gray;
                    a {
                        display: inline-block;
                        .plate {
                            background-image: url("pics/dishes-938747_1920transp.png");
                            background-size: cover;
                            width: 100%;
                            position: relative;
                            .plate-y {
                                padding-top: 100%;
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 62%;
                                    height: 62%;
                                    transform: translate(-50%, -50%);
                                    object-fit: cover;
                                    border-radius: 50%;
                                    box-shadow: inset 2px 2px 4px gray;
                                }
                                p {
                                    color: #118;
                                    display: block;
                                    width: 100%;
                                    position: absolute;
                                    bottom: 10%;
                                    transform: translateY(50%);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            // -main //

            // FOOTER //
            footer {
                margin-top: 64px;
                background-color: #eee;
                padding: 16px;
                box-shadow: inset 3px 3px 6px gray;
                #BAChef {
                    border-radius: 50%;
                }
                .f-logo {
                    height: 64px;
                    margin-right: 16px;
                }
                p {
                    margin: 32px 0;
                }
                .buttons {
                    height: 32px;
                    margin-right: 8px;
                }
                #agb-links {
                    a {
                        margin-right: 16px;
                    }
                }
            }
            // -footer //

        }
    }
}
// -body //

// Tablet Settings //
@media screen and (max-width: 800px) {
    body {
        .cont-page {
            width: 100%;
            .cont-content {
                width: 90%;
                main {
                    .cloth {
                        grid-template-columns: 1fr 1fr;
                    }
                }    
            }
        }
    }
}

// Mobile Settings //
@media screen and (max-width: 480px) {
    body {
        .cont-page {
            width: 100%;
            .cont-content {
                width: 100%;
                header {
                    nav {
                        .links {
                            width: 70%;
                            display: inline;
                            text-align: right;
                            a {
                                display: inline-flex;
                            }
                        }
                    }
                }
                main {
                    .cloth {
                        grid-template-columns: 1fr;
                    }
                }    
            }
        }
    }
}
