/*--GENERAL SETTINGS--*/
body {
    background-color: black;
    padding: 1.5vw 0 0 1.5vw;
}

/*--PICTURE OVER PICTURE--*/
.picstack {
    display: inline-block;
    position: relative;
    width: 30vw;
    height: 20vw;
    margin: 0.5vw;
    
    /*--general picture settings--*/
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*--settings for the hidden picture--*/
    .undercover {
        display: block;
    }

    /*--Settings for the covering picture--*/
    .cover {
        position: absolute;
        top: 0;
        transition: 0.42s ease-in-out;
        &:hover {
            opacity: 0;
            transition: 3.14s ease-in-out;
        }
    }
}
