// General Settings //
body {
    background-color: black;
    padding: 1.5vw 0 0 1.5vw;
}

// Picture Over Picture //
.picstack {
    display: inline-block;
    position: relative;
    width: 30vw;
    height: 20vw;
    margin: 0.5vw;
    
    // General Picture Settings //
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // Settings For The Hidden Picture //
    .undercover {
        display: block;
    }

    // Settings For The Covering Picture //
    .cover {
        position: absolute;
        top: 0;
        transition: 0.42s ease-in-out;
        &:hover {
            opacity: 0;
            transition: 3.14s ease-in-out;
        }
    }
}
